<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom mt-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<app-header></app-header>
  <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Features</a>&nbsp;&nbsp;
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Enterprise</a>&nbsp;&nbsp;
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Support</a>&nbsp;&nbsp;
    <a class="py-2 text-dark text-decoration-none" href="#">Pricing</a>&nbsp;&nbsp;
  </nav>
  <a class="btn btn-outline-primary">Sign up</a>&nbsp;&nbsp;&nbsp;
</div>
